td
{
font-size: x-large;

}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu{

    font-size: x-large;

}